* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    letter-spacing: 0.6px;
}

/* begin: header */
#header-container {
    height: 63px;
    background-color: #242423;
    box-shadow: #000 0px 2px 10px 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-container .header {
    max-width: 1200px;
    max-height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
}

#header-container .header img {
    width: 154px;
    height: 33px;
}

.header a{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 12px;
}

.header .header-nav li {
    display: inline-block;
    margin: 0 21px;
}

.header-nav li a:hover {
    color: #ce6d06;
}

.header-nav li .header-but-now {
    color: #ce6d06;
}

.header-button a{
    min-width: 120px;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 16px 31px 12px;
    background-color: #ce6d06;
    border-radius: 35px;
    text-align: center;
}

.header-button:hover a{
    color: #000;
    background-color: #fff;
}
/* end: header */

/* begin: about-title */
#about-title {
    margin-top: 63px;
    height: 350px;
    background: url(../img/elite/bgr.jpeg) no-repeat 50% 0 / cover;
}

#about-title h1 {
    text-align: center;
    line-height: 350px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 72px;

}
/* end: about-title */

/* begin: our-sv-1 */
#our-sv-1-container {
    padding: 140px 0;
    background-color: #ede9e1;
}

.our-sv-1 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.our-sv-1 h2 {
    color: #242423;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 7.2px;
    line-height: 48px;
}

.our-sv-1 .sv-title-1 p {
    display: inline-block;
    max-width: 780px;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    margin: 20px 0 52px;
}

.our-sv-1 .list-container-1 {
    background: url(../img/services/bgr-item-1.jpeg) no-repeat 50% 0 / cover;
}

.our-sv-1 .list-container-2 {
    background: url(../img/services/bgr-item-2.jpeg) no-repeat 50% 0 / cover;
}

.our-sv-1 .list-container-3 {
    background: url(../img/services/bgr-item-3.jpeg) no-repeat 50% 0 / cover;
}

.our-sv-1 .list-container-4 {
    background: url(../img/services/bgr-item-4.jpeg) no-repeat 50% 0 / cover;
}

.our-sv-1 .list-item {
    min-height: 490px;
    padding: 100px;
    text-align: left;
}

#our-sv-1-container .our-sv-1 .list-item .title p {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    line-height: 43.2px;
    display: inline-block;
}
#our-sv-1-container .our-sv-1 .list-item .item-2 .title p {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    line-height: 43.2px;
    display: inline-block;
}

.our-sv-1 .list-item .item-1 {
    max-width: 477px;
    float: left;
}
.our-sv-1 .list-item .item-2 {
    max-width: 477px;
    float: right;
}

.our-sv-1 .list-item .item-1 > p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    margin: 20px 0 52px;
}

.our-sv-1 .list-item .item-2 > p {
    color: #000;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    margin: 20px 0 52px;
}

.our-sv-1 .list-item .button a{
    color: #fff;
    padding: 20px 54px;
    background-color: #ce6d06;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 35px;
}

.our-sv-1 .list-item .button a:hover {
    color: #000;
    background-color: #fff;
}

.our-sv-1 .list-item .item-2 .button a:hover {
    color: #fff;
    background-color: #000;
}
/* end: our-sv-1 */

/* begin: our-sv-2 */
#our-sv-2-container {
    padding: 100px 0;
    background-color: #ede9e1;
}

.our-sv-2 {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.our-sv-2-content h2 {
    color: #242423;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 7.2px;
    line-height: 48px;
}

.our-sv-2-content p {
    color: #999;
    max-width: 780px;
    margin: 0 auto;
    font-size: 14px;
    display: inline-block;
    margin: 12px 0 24px;
}

.our-sv-2-info .product {
    width: 270;
    height: 357px;
    padding: 15px;
}

.our-sv-2-info .product p {
    color: #242423;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 55px;
}

.our-sv-2-info .product h3 {
    color: #242423;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    line-height: 20px;
    margin-top: 20px;
}

.our-sv-2-info .product a {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    padding: 18px 54px;
    background-color: #ce6d06;
    display: inline-block;
    border-radius: 35px;
    text-decoration: none;
}

.our-sv-2-info .product a:hover {
    color: #fff;
    background-color: #000;
}

.our-sv-2-info {
    display: flex;
    justify-content: space-between;
}

.our-sv-2-info .product .button {
    display: none;
}

.our-sv-2-info .product:hover {
    background-color: #fff;
}

.our-sv-2-info .product:hover .button{
    display: inline-block;
}
/* end: our-sv-2 */

/* begin: footer */
#footer-bgr {
    max-height: 400px;
    background-color: #403832;
    padding: 80px 0 130px;
}

.footer-container {
    color: #a29d9a;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.footer-pages {
    flex-basis: 33.33%;
}

.footer-pages ul {
    list-style: none;
    margin-top: 24px;
    max-width:390px;
}

.footer-pages ul li {
    min-width: 195px;
    float: left;
}

.footer-pages ul li a {
    color: #a29d9a;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 21px;
    margin-top: 9px;
    padding: 0 18px;
}

.footer-pages ul li a:hover {
    color: #ce6d06;
}

.footer-description {
    flex-basis: 41.6667%;
    padding: 0 40px;
}

.footer-description i {
    font-size: 12px;
    max-width: 400px;
    display: inline-block;
    margin-top: 24px;
}

.footer-follow {
    flex-basis: 25%;
}

.footer-follow .icon {
    margin-top: 24px;
}

.footer-follow a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
    line-height: 40px;
    background-color: #a29d9a;
    border-radius: 50%;
    padding: 14px 5px 12px 16px;
}

.footer-follow .icon-def {
    padding: 14px 14px 12px 17px;
}

.footer-follow a:hover {
    background-color: #ce6d06;
}

.footer-container h3 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    line-height: 32px;
    border-bottom: 1px solid #a29d9a;
    padding-bottom: 16px;
}
/* end: footer */